<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API DOCUMENTATION</title>
</head>
<body>
<h1>NOTICE api documentation</h1>
<label for="">Api endpoint(s)</label>
<p><strong>BASE URL</strong>/api/v1/MU</p>

<label for="">API RESPONSE EXAMPLE</label>

<div class="respo">
    <p>
        [
        {
            "head": "1.   Heading1",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": true
        },
        {
            "head": "2.    Heading 2",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": true
        },
        {
            "head": "3.    Heading 3",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": false
        },
        ]
    </p>
</div>
<p><strong>BASE URL</strong>/api/v1/mit-syllabus<p>
    <label for="">API RESPONSE EXAMPLE</label>
    <div class="respo1">
        <p>
            {
                "status": "Working",
                "be_ordinance": {
                    "head": "BE ORDINANCE",
                    "url": "http://mitimphal.in/uploads/media/m1452925713.pdf"
                },
                "data": [
                    {
                        "head": "BE CSE Syllabus",
                        "url": "http://mitimphal.in/uploads/media/m1639805090.pdf",
                        "is_new_notice": false
                    },
                    {
                        "head": "BE ECE Syllabus",
                        "url": "http://mitimphal.in/uploads/media/m1639805062.pdf",
                        "is_new_notice": false
                    }
                ]
            }
        </p>
    </div>
    <p><strong>BASE URL</strong>/notice/api/v2/extra-notice/<p>
        <label for="">API RESPONSE EXAMPLE</label>
        <div class="respo2">
            <p>
                {
                    "status": "Working",
                    "data": [
                        {
                            "title": "like",
                            "url": "http://t.in",
                            "date": "2022-09-09T04:53:45.812419Z",
                            "is_image": false
                        },
                        {
                            "title": "Test",
                            "url": "http://www.test.com",
                            "date": "2022-09-09T04:53:35.845562Z",
                            "is_image": false
                        },
                        {
                            "title": "NEW NOTICE",
                            "url": "http://www.url.com",
                            "date": "2022-09-09T04:53:20.940757Z",
                            "is_image": false
                        }
                    ]
                }
            </p>
        </div>
<footer>
    <h3>Made by Jam</h3>
    <p>©Copyright 2022 </p>
</footer>
</body>
</html>