<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API DOCUMENTATION</title>
</head>
<body>
<h1>NOTICE api documentation</h1>
<label for="">Api endpoint(s)</label>
<p><strong>BASE URL</strong>/api/v1/MU</p>

<label for="">API RESPONSE EXAMPLE</label>

<div class="respo">
    <p>
        [
        {
            "head": "1.   Heading1",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": true
        },
        {
            "head": "2.    Heading 2",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": true
        },
        {
            "head": "3.    Heading 3",
            "url": "https://www.linkewew.com/26feb2022.pdf",
            "is_new_notice": false
        },
        ]
    </p>
</div>
<footer>
    <h3>Made by Jam</h3>
    <p>©Copyright 2022 </p>
</footer>
</body>
</html>